*{
    box-sizing: border-box;
}
body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    transition: 0.5s;
}

.quiz-app{
    margin: 20px auto;
    width: 800px;
    background-color: #f8f8f8;
    padding: 15px;
}
@media (max-width:720px) {
.quiz-app{
    width: 100%;
    margin: 5px auto;
    padding: 0px;
}
}
.quiz-info{
    display: flex;
    background-color: #fff;
    padding: 20px;
}
@media (max-width:720px) {
    .quiz-info{
        padding:5px;
        font-weight: 500;
        padding-bottom: 15px;
        background-color: rgb(0, 149, 255);
        color: #fff;

    }
}
.quiz-app .quiz-info .category{
flex: 1;
}
.quiz-app .quiz-info .count{
flex: 1;
text-align: right;
}
.quiz-area{
    background-color: #f8f8f8;
    padding: 20px ;
    margin-top: 13px;
}
@media (max-width:720px){
    .quiz-area{
        padding: 1px;
        margin-top: 3px;
    }
}
.quiz-area h2{
    margin: 0;
}
.answers-area{
    background-color: #ffffff;
    padding: 20px;
    margin: 5px auto;
}
/* @media (max-width:720px) {
    .answers-area{
        max-width: 700px;
        height: 700px;
    }
    .answers-area .answer{
        max-width: 700px;
        height: 25%;
        font-size: 50px;
    }
} */
.answers-area .answer{
    background-color: #f8f8f8;
    padding: 15px;
    font-weight: 500;
    transition: 0.5s;
}
.answers-area .answer [name="qs"]{
   margin: 10px;
   height: 20px;
   width:  20px;
}
.answers-area .answer:not(:last-child){
    border-bottom: 1px solid #dfdfdf;
}

.answers-area .answer input[type = "Radio"]:checked + label{
    color: rgb(0, 149, 255);
    font-size: 15px; 
    font-weight: bolder;
    transition: 0.2s;

}

.answers-area .answer label{
    cursor: pointer;
font-weight: bold;
font-size: 14px;
position: relative;
top: -3px;
transition: 0.5s;
}
/* @media (max-width:720px) {
.answers-area .answer label{
    font-size: 30px;
} */
.answers-area .answer input[type = "Radio"]:checked + label{
    color: rgb(0, 149, 255);
    font-size: 15px; 
    font-weight: bolder;
    transition: 0.2s;
}



.submit{
    background-color: rgb(0, 149, 255);
    display: block;
    width: 100%;
    padding: 15px 15px;
    border: none;
    font-weight: bold;
    font-size: 18px;
    border-radius: 6px;
    cursor: pointer;
    color: white;
}
.submit:focus{
    outline: none;
}
.bullets{
    border-top: 1px solid #dfdfdf;
    background-color: #fff;
    display: flex;
    padding: 20px;
}
.bullets .spans{
    flex: 1;
    display: flex;
 
}
/* @media (max-width:720px){
    h2{
        font-size: 50px;
    }
.submit{
    font-size: 40px;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    background-color: rgb(0, 132, 255);
}
} */
.bullets .spans span{
    width: 20px ;
    height: 20px;
    background-color: #DDD;
    margin-right: 5px; 
    border-radius: 50%;
}
.bullets .spans .on{
    background-color: rgb(0, 149, 255);
}
.result{
    padding: 10px;
    margin: 5px;
    font-size: 20px;
    margin-left: auto;
    margin-right: auto;
}
.result .bad {
color: red;
font-size: 20px;
padding: 5px;
    font-size: 25px;

}
.result .good{
    color:rgb(0, 255, 13) ;
    font-size: 20px;
    padding: 10px;
    font-size: 25px;

}
.result .perfect{
color: rgb(0, 149, 255); 
font-weight: bolder;
font-size: 20px;
    font-size: 25px;

}
.restart{
    background-color: rgb(0, 149, 255);
    padding: 10px 15px;
    font-size: larger;
    color: white;
    margin-left: auto;
    margin-right: auto;
    outline: none;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}